{% extends 'base.html' %}

{% block content %}
    <h1>Добавить фильм</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="mb-3">
            {{ form.review.label_tag }}
            {{ form.review }}
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
{% endblock %}